.home {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}
  
.headerContainer {
    margin-left: 50px;
}
  
.headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 50px;
    color: var(--mainColor);
    font-family: 'Gabriola';
}
  
.headerContainer p {
    padding: 0;
    font-size: 40px;
    color: var(--mainColor);
    font-family: 'Gabriola';
}
  
.headerContainer button {
    color: var(--mainColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: var(--mainColor);
    height: 50px;
    width: 180px;
    color: var(--textColor);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Gabriola';
}
  
.headerContainer button:hover {
    color: var(--themePink);
    cursor: pointer;
    transition: 0.3s ease-in;
}
  
@media only screen and (max-width: 650px) {
    .home {
        justify-content: center;
        align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {

    }
  
    .headerContainer {
        margin-left: 0px;
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: var(--mainColor);
        color: var(--textColor);
    }
  
    .headerContainer h1 {
        font-size: 40px;
        height: 30px;
        color: var(--textColor);
    }
  
    .headerContainer p {
        font-size: 30px;
        color: var(--textColor);
    }
  
    .headerContainer button {
        background-color: var(--textColor);
        color: var(--mainColor);
        margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
        background-color: var(--textColor);
        color: var(--mainColor);
    }
}