:root {
    --themePink: rgb(236,10,145);
    --themePurple: rgb(120,29,124);
    --textColor: white;
    --mainColor: black;
}

.navbar {
    height: 100px;
    background-color: var(--mainColor);
    display: flex;
}
  
.navbar .leftSide {
    flex: 50%;
    height: 95px;
    display: flex;
    align-items: center;
    padding-left: 90px;
    padding-top: 26px;
}

.navbar .leftSide img {
    width: 350px;
}

.navbar .rightSide {
    flex: 50px;
    display: flex;
    padding-right: 90px;
    align-items: center;
    justify-content: center;
}

.navbar a {
    padding: 30px;
    color: var(--textColor);
    text-decoration: none;
    margin: 20px;
}

.navbar a:hover {
    color: var(--themePink);
}

.navbar .rightSide button {
    padding: 5px;
    background: transparent;
    border: none;
    color: var(--textColor);
    cursor: pointer;
}  

.navbar .rightSide button:hover {
    color: var(--themePink);
}

.navbar .rightSide svg {
    font-size: 40px;
}

.navbar #close img {
    display: inherit;
}

.navbar #close .hiddenLinks {
    display: none;
}

.navbar #open img {
    display: none;
}

.navbar #open .hiddenLinks {
    margin-left: 30px;
}

.navbar #open a {
    width: 70px;
    margin: 5px;
}

/* Media queries */
@media only screen and (max-width: 1000px) {
    .navbar .leftSide {
      padding-left: 90px;
    }
}
  
@media only screen and (max-width: 1000px) {
    .navbar .rightSide a {
      display: none;
    }

    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 90px;
    }

    .navbar .rightSide button {
      display: inherit;
    }
}

@media only screen and (min-width: 1000px) {
    .navbar .rightSide button {
      display: none;
    }

    .hiddenLinks {
      display: none;
    }
}