/* This file contains css that affects evry single page on the web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,400&display=swap');

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --themePink: rgb(236,10,145);
  --themePurple: rgb(120,29,124);
  --textColor: white;
  --mainColor: black;
}